.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!data/**
node_modules/**
.claude/
out/test/**
esbuild.js
tsconfig.renderer.json
.vscode-test.mjs
